body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

body,
html {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  background: black;
}

.card {
  background: linear-gradient(to bottom right, #9a6bff, #7647eb);
  border-radius: 50px;
  color: white;
  margin: auto;
  padding: 80px;
  text-align: center;
  max-width: 200px;
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

div {
  background: white;
}
